<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA59sxkfB9CIxPpGogQd3mJ6MJTW-n5_uo</string>
	<key>GCM_SENDER_ID</key>
	<string>582823167228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vaayo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vaayo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vaayo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582823167228:ios:c2002696453bbb35558379</string>
</dict>
</plist>